server:
  port: 8084
spring:
  application:
    name: activemq-consumer-server
  activemq:
    broker-url: tcp://localhost:61616
    in-memory: true
    pool:
      enabled: false
  mail:
    host: smtp.qq.com
    username: 1193418905@qq.com
    password: ixkpwzpbqvzrgfih
    default-encoding: utf-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
eureka:
  client:
    serviceUrl:
      #defaultZone: http://47.98.60.240:8888/eureka/
      defaultZone: http://localhost:8888/eureka/
  instance:
      leaseRenewalIntervalInSeconds: 10
      leaseExpirationDurationInSeconds: 30

#配置邮件相关 smtp.qq.com|smtp.163.com    |ixkpwzpbqvzrgfih
#spring.mail.host=smtp.qq.com
#发送方的邮箱
#spring.mail.username=1193418905@qq.com
#对于qq邮箱而言 密码指的就是发送方的授权码
#spring.mail.password=ixkpwzpbqvzrgfih
#spring.mail.default-encoding=UTF-8
#spring.mail.properties.mail.smtp.auth=true
#spring.mail.properties.mail.smtp.starttls.enable=true
#spring.mail.properties.mail.smtp.starttls.required=true
